<!--product main-->

<div class="col-xs-4 col-sm-4 col-md-4" style="padding: 10px; margin: 10px 0;">
    <a href="/product/<%= products[product]._id %>" style=" background-color: #eee;">
        <div class="thumbnail">
            <img src="<%= products[product].image %>" alt="">
        </div>
        <h4><%= products[product].name %></h4><h4><%= products[product].manufacturer %></h4>
    </a>
    <div class="caption">
        <h5><%= products[product].category.name %></h5>
        <h5><%= products[product].price %></h5>
    </div>
    <div>
        <form action="/addToCart" method="post">
            <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <input type="hidden" class="form-control" name="quantity" value="1">
                    &lt;!&ndash;<div class="btn-group" role="group" aria-label="..." >
                    <input type="hidden" name="quantity" id="quantity" value="1">
                    <button type="button" id="minus" class="btn btn-default">-</button>
                    <button type="button" id="total" class="btn btn-default">1</button>
                    <button type="button" id="plus" class="plus btn btn-default">+</button>
                </div>&ndash;&gt;
                    <input type="hidden" name="product_id" id="product_id" value="<%= products[product]._id %>">
                    <input type="hidden" name="priceHidden" id="priceHidden" value="<%= products[product].price %>">

                    <% if(user){ %>
                    <button type="submit" class="btn btn-primary btn-sm" style="margin-right: 1px;">Add to cart</button>
                    <% } else { %>
                    <a href="/login" class="btn btn-warning">Signin to make order</a>
                    <% } %>
                </div>
            </div>
        </form>

    </div>
</div>


//navbar


<!--<nav class="navbar navbar-inverse" style="background-color: #025fc0;">
    <div class="container" >
        <div class="row" >
            <% if(user) { %>
                <form action="/search" method="post" class="col-sm-6 col-sm-offset-3 col-md-offset-3">

                    <div style="padding: 15px 0;">
                        <div class="input-group col-md-12">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-inverse">
                                    <i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            <% } %>
        </div>
        <div class="nav navbar-nav navbar-left">
            <div class="navbar-header">
                <h4><a href="/" style="color: #fff;text-decoration: none;">E-Catalog</a></h4>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if(!user) { %>
          <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;">Login / Signup</a>
              <ul class="dropdown-menu">
                  <li><a href="/signup" >Signup</a></li>
                  <li><a href="/login" >Login</a></li>
              </ul>
          </li>
            <% } else { %>
            <% for(category in categories) { %>
            <li>
                <a href="/products/<%= categories[category]._id %>" style="color:#fff;">
                    <%= categories[category].name %></a>
            </li>
            <% } %>

            <li >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style=" color: #fff!important; padding: 6px;border-radius: 2px;margin-top:10px;"><%= user.fullName %></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <li>
                <a href="/cart" class="btn btn-default" style="background-color: #eee;
                border-radius: 2px;margin:10px 0 0 10px;border:none;padding:6px;">
                    <i class="glyphicon glyphicon-shopping-cart" style="color:#333;"></i>
                    <span class="badge"><%= cart %></span>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>-->


<!--<div class="col-xs-4 column productbox">
                    <a href="/product/<%= products[product]._id %>" style="text-decoration: none; color:#000;">
                        <img src="<%= products[product].image %>" class="img-responsive">
                        <div class="producttitle">
                            <h6 style="color: #777; font-weight: normal;"><%= products[product].category.name %></h6>
                            <h5 style="font-weight: bold;"><%= products[product].name %></h5>
                        </div>
                        <div class="productprice">
                            <form action="/addToCart" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="hidden" class="form-control" name="quantity" value="1">
                                        <input type="hidden" name="product_id" id="product_id" value="<%= products[product]._id %>">
                                        <input type="hidden" name="priceHidden" id="priceHidden" value="<%= products[product].price %>">

                                        <% if(user){ %>
                                        <div class="pull-left" style="padding: 10px 5px;">
                                            <button type="submit" class="btn btn-primary btn-sm" style="margin-right: 1px;">ADD TO CART</button>
                                        </div>
                                        <% } else { %>
                                        <a href="/login" class="btn btn-warning">Signin to make order</a>
                                        <% } %>
                                    </div>
                                </div>
                            </form>
                            &lt;!&ndash;<div class="pricetext">£8.95</div>&ndash;&gt;
                        </div>
                    </a>
                </div>-->



<!--<div class="col-sm-3 col-md-3">
        <div class="list-group">
                    <span class="list-group-item">
                        <h4>Total: $ <span>100</span></h4>
                        <div class="form-group">
                            <input type="hidden" value="100">
                            <button type="submit" class="btn btn-primary"
                                    data-toggle="modal" data-target="#myModal">Pay with stripe</button>
                        </div>
                    </span>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pay with stripe</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <img class="pull-right" style="clip-path: inset(10px 20px 30px 40px)" src="http://i76.imgup.net/accepted_c22e0.png">
                                            Pay with stripe</h3>
                                    </div>
                                    <div class="panel-body">
                                        <form role="form" id="payment-form" method="post" action="/payment">
                                            <input type="hidden" name="stripeMoney" value="100">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="cardNumber">CARD NUMBER</label>
                                                        <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-7 col-md-7">
                                                    <div class="form-group">
                                                        <label for="expMonth">EXPIRATION DATE</label>
                                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                                            <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                                        </div>
                                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                                            <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-5 col-md-5 pull-right">
                                                    <div class="form-group">
                                                        <label for="cvCode">CV CODE</label>
                                                        <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-success btn-lg btn-block" type="submit">Pay</button>
                                                </div>
                                            </div>
                                            <div class="row" style="display:none;">
                                                <div class="col-xs-12">
                                                    <p class="payment-errors"></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
