<div class="navbar navbar-default" style="top:100%;bottom:0%;background-color: #eee;height: 200px;width: 100%;maring-top:100%; margin-bottom: 0;">
    <div class="container">
        <p>&copy; 2015 Company, Inc.</p>
    </div>
</div>