<div class="navbar navbar-default" style="bottom:0;background-color: #eee;margin-bottom: 0!important;height: 150px;position: absolute;width: 100%;">
    <div class="container">
        <p>&copy; 2015 Company, Inc.</p>
    </div>
</div>