<nav >
    <div class="nav-wrapper topBar center">
        bar for language and currency conversion
    </div>
    <div class="nav-wrapper mainBar">
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col s3" style="margin-top: 10px;">
                    <h4><a href="/" class="" style="color: #C39738;font-weight: bold; ">EastAfro Shop</a></h4>
                </div>
                <% if(user) { %>
                <div class="col s4 offset-m1">
                    <div class="search-wrapper">
                        <form action="/search" method="post">
                            <div class="row">
                                <div class="col s10">
                                    <input type="search" name="q"  placeholder="Search"  class="navbarSearch" required>
                                </div>
                                <div class="col s1">
                                    <button type="submit" style="width: 50px;border: none;margin-left: -50px;height: 52px; margin-top: 20px;background-color: #eee;">
                                        <i class="material-icons" style="color:#000;margin: -5px 0 0 0;">search</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col s3">
                    <button class='btn dropdown-button navbarProfile right' data-beloworigin="true" data-activates='accountDropdown'>
                        <%= user.fullName %><i class="material-icons right"
                                               style="width: 10px;height: 10px; line-height: 35px;position: relative;">keyboard_arrow_down</i></button>

                    <!-- Dropdown Structure -->
                    <ul id='accountDropdown' class='dropdown-content right' style="margin-top: 22px; color:#000; text-align: center;">
                        <li><a href="/profile" style="color:#000; text-align: center;">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout" style="color:#000; text-align: center;">Log out</a></li>
                    </ul>
                </div>
                <div class="col s1 left" style="padding: 0;margin: 0;">
                    <a class="btn navbarCart left" href="/cart" id="cartBadge">
                        <img src="/img/Ecommerce-Shopping-Bag-icon.png"  id="cartImage" class="left">
                        <% if(cart > 0) { %>
                            <span style="float: left;margin: 20px 0 0 -5px;font-size: 1em;background-color: #eee; min-width: 30px; height: 35px;
                        text-transform: lowercase;padding:0 5px;border-radius: 15px;border: 1px solid #ddd;"><%= cart %></span>
                        <% } %>
                    </a>
                </div>
                <!--<div class="col s1">
                    <a class="btn navbarCart left" href="/cart">
                        <img src="/img/Ecommerce-Shopping-Bag-icon.png"  id="cartImage" style="width: 45px;margin-right: 5px;">
                    </a>
                </div>-->
                <% } else { %>
                <div class="row">
                    <div class="col s3  offset-s3 right">
                        <a href="/login" class="navbarLogin">Login</a><a href="/signup" class="navbarLogin" style="color: #00b0ff!important;">Or create account</a>
                    </div>
                </div>
                <% } %>
            </div>
            <% if(user){ %>
            <div class="nav-wrapper">
                    <div class="row">
                        <ul class="">
                            <% for(category in categories) { %>
                            <li class="navbarList">
                                <a href="/products/<%= categories[category]._id %>" style="color: #000; font-weight: bold; font-size: 1.1em;">
                                    <%= categories[category].name %></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
            </div>
            <% } %>

        </div>


    </div>
</nav>