
<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Catalog</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/css/custom.css">
    <link href="/css/icon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Prompt">
</head>

<body>

<% include ./partials/navbar %>



<div class="container"  style="min-height: 600px;">

    <%- body -%>

</div> <!-- /container -->

<% include ./partials/footer %>
<% include ./partials/javascriptLibs %>
</body>
</html>
