
<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Prompt">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source Sans Pro">
</head>

<body>

<% include ./partials/navbar %>

    <%- body -%>

<% include ./partials/footer %>
<% include ./partials/javascriptLibs %>
</body>
</html>
