.navbar{
    background-color: #ffffff;
}
.brandRow{
    padding: 30px 20px; border-bottom: 1px solid #eee;
}
.navbarLogin{
    color:#000!important;font-weight: bold; text-decoration: none!important; padding: 10px 15px;
}
.navbarCart a:hover {
    background-color: #fff!important;
}
.navbarCart{margin-top: 10px;}
.badge{
    height: 25px; border-radius: 12.5px;
    width:25px; margin:0 0 30px -10px;
    color:#000!important;
    background-color: #fff!important;
    border: 1px solid #888;
    padding: 5px;}

.navbarCart a {border: none;}
.navbarProfile a {color:#000!important;font-weight: bold; text-decoration: none!important;background-color: #EBEFF0;padding: 10px 20px;margin-top: 9px;}
.navbarSearch input{
    padding: 20px; outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; background-color: #EBEFF0;
}

.navbarSearch input:active{ border: none!important; }

.productbox {
    background-color:#ffffff;
    padding:20px;
    margin-bottom:10px; border: 1px solid #F7F9FA;
    -webkit-box-shadow: 0 3px 3px -3px  #999;
    -moz-box-shadow: 0 3px 3px -3px  #999;
    box-shadow: 0 3px 3px -3px #999;
}
.producttitle {
    font-weight:bold;
    padding:5px 0; overflow: hidden;
}

.productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
}

.pricetext {
    font-weight:bold;
    font-size:1.4em;
}

.manuTab{
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; background-color: #EBEFF0;
}

nav{
     height: 200px!important; background-color: #fff!important;
}

.topBar{
    background-color: #333; height: 45px!important;
}
.homeAddToCart{
    font-size: 10px;
    font-weight:bold;
    width: 80px; height: 32px!important;
}
.productCategory{font-size:10px;}
.productName{
    font-size:15px; font-weight: bold;
}
.card-content{
    padding:3px 0 6px 5px!important;
}
.navbarSearch{
    box-shadow: none!important; background-color: #eee!important; margin-top: 20px!important;font-weight: bold;
    color: #000; border: 1px solid #eee!important; padding: 3px 10px!important;width: 100% !important;
}
.navbarProfile{
    background-color: #eee!important; min-width: 210px!important;
    color:#000!important; font-weight: bold; padding-top: 3px!important;
    box-shadow: none!important; vertical-align: middle;
    height: 52px!important;margin-top: 20px!important;
}
.navbarCart{
    background-color: #fff!important; width: 30px!important;
    color:#000!important; font-weight: bold; padding-top: 5px!important;
    box-shadow: none!important; vertical-align: middle;
    height: 52px!important;margin-top: 15px!important;
}

#cartImage{
     margin-top: 6px;
 }
