body {
    display: flex;font-family: 'Prompt','Oswald', serif;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.navbar{
    background-color: #ffffff;
}
.brandRow{
    padding: 30px 20px; border-bottom: 1px solid #eee;
}
.navbarLogin{
    color:#000!important;font-weight: bold; text-decoration: none!important; padding: 10px 15px;
}
.navbarProfile a {color:#000!important;font-weight: bold; text-decoration: none!important;background-color: #EBEFF0;padding: 10px 20px;margin-top: 9px;}
.navbarSearch input{
    padding: 20px; outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; background-color: #EBEFF0;
}

.navbarSearch input:active{ border: none!important; }

nav{
     height: 260px!important; background-color: #fff!important;
}

.topBar{
    background-color: #333; height: 45px!important;
}
.homeAddToCart{
    font-size: 9px; box-shadow: none!important;
    font-weight:bold;
    width: 80px; height: 32px!important;
}
.productCategory{font-size:10px;}
.productName{
    font-size:15px;
}
.card-content{
    padding:3px 0 6px 5px!important;
}
.navbarSearch{
    box-shadow: none!important; background-color: #eee!important; margin-top: 20px!important;font-weight: bold;
    color: #000; border: 1px solid #eee!important; padding: 3px 10px!important;width: 100% !important;
}
.navbarProfile{
    background-color: #eee!important;
    color:#000!important; font-weight: bold; padding-top: 3px!important;
    box-shadow: none!important; vertical-align: middle;
    height: 52px!important;margin-top: 20px!important;
}
.navbarCart{
    background-color: #fff!important;width: 115px!important;
    color:#000!important; font-weight: bold; padding: 0!important;
    box-shadow: none!important;

}

#cartImage{
     width: 50px;margin: 20px 0 0 0!important;padding:0!important;
 }
.cartQuantity{
    border: 1px solid #ddd!important; padding: 0!important; margin: 0!important; width: 40px!important; height: 30px!important;
    text-align: center; box-shadow: none!important; vertical-align: middle!important;
}
.minusBtn, .plusBtn{
    box-shadow: none!important; width: 30px!important;height: 32px!important; padding: 0!important; margin: 0!important;
    padding-bottom: 12px!important; background-color: #4caf50!important;
}
.deleteBtn {
    box-shadow: none!important; width: 30px!important;height: 32px!important; padding: 0!important; margin: 0 5px!important;
    padding-bottom: 12px!important; background-color: transparent!important;
}


