<% layout("layout") %>
<div class="container">
    <div class="row">
        <h1>Hello <%= user.fullName %></h1>
        <img src="<%= user.profile.picture%>" alt="" class="img img-circle img-responsive img-center">
        <p>Email: <%= user.email %></p>
        <% if(user.address === "" || typeof user.address === "undefined") { %>
            <p>Address: <span style="color:red; font-weight: bold;">You have no address</span></p>
        <% } else { %>
            <p>Address: <%= user.address %></p>
        <% }%>
    </div>
    <div class="row">
        <a href="/edit-profile" class="btn btn-primary">Edit profile</a>
    </div>
</div>