<% layout("genLayout") %>
<div class="container" style="margin-bottom: 110px;">
    <div class="row">
        <h2 class="center">
            Welcome to the fastest e-shop made with nodejs and mongodb
        </h2>
    </div>
</div>